#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	# Install the package into debian/l2tp-ipsec-vpn
	make -f nbproject/qt-Release.mk INSTALL_ROOT=$(CURDIR)/debian/l2tp-ipsec-vpn install

override_dh_auto_build:
	# Compile the package.
	make -f nbproject/Makefile-Release.mk CONF=Release .build-conf

override_dh_auto_clean:
	# Clean up after the build process.
	make -f nbproject/qt-Release.mk distclean

override_dh_auto_test:

override_dh_installchangelogs:
	dh_installchangelogs changelog
